@media screen and (max-width:479px){
/*--modal menu--*/
.mobile-menu {
  position: fixed;
  top: 2.3%;
  right: 4%;
  z-index: 99;
  margin-bottom: 6px;
  margin: 0 auto;
  text-align: center;
  font-size: 0.8em;
  border-radius: 4px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  margin-top: 6px;
  .open_btn{
    width:55%;
  }
  .menu-text {
    position: fixed;
    top: -0.5%;
    right: 6%;
    margin-bottom: 6px;
    margin: 0 auto;
    text-align: center;
    font-size: 1rem;
    border-radius: 4px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    margin-top: 6px;
    color:white;
  }
}
/* メニュー */
#sp-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:#121E22;
  opacity: 0.5;
  overflow: scroll;
  transition: all .3s ease-in;
  visibility: hidden;
  opacity: 0;
  z-index:1;
}
.open-menu #sp-menu {
  visibility: visible;
  opacity: 1;
}
#sp-menu-position {
  position: fixed;
  top: 15%;
  left: 30%;
  width: 120%;
  li {
    list-style: none;
    margin: 40px auto;
    right: 0%;
    z-index:98;
    color:white;
  }
  .sns_btn{
    width:100%;
    position: fixed;
    top: 85%;
    left: 30%;
    .sns_btn1{
      padding:2%;
      width:10%;
    }
    .sns_btn2{
      padding:2%;
      width:10%;
    }
    .sns_btn3{
      padding:2%;
      width:10%;
    }
  }
  a {
    font-size: 20px;
    font-weight: bold;
    color: #2E467E;
    text-decoration: none;
    margin: 100px auto;
    z-index:98;
  }
}
}
@media screen and (min-width:480px) and (max-width:768px){
  /*--modal menu--*/
  .mobile-menu {
  position: fixed;
  top: 2.3%;
  right: 4%;
  margin-bottom: 6px;
  margin: 0 auto;
  text-align: center;
  font-size: 1em;
  border-radius: 4px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  margin-top: 6px;
  z-index:99;
  .mobile-bar {
    display: block;
    width: 32px;
    height: 2px;
    border-radius: 4px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    margin-top: 6px;
    background-color: #1977ad;
  }
  .menu-text {
    position: fixed;
    top: -1%;
    right: 3%;
    margin-bottom: 6px;
    margin: 0 auto;
    text-align: center;
    font-size: 1.2rem;
    border-radius: 4px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    margin-top: 6px;
  }
  }
  /* メニュー */
  #sp-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.5;
  overflow: scroll;
  transition: all .3s ease-in;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  }
  .open-menu #sp-menu {
  visibility: visible;
  opacity: 1;
  }
  #sp-menu-position {
  position: fixed;
  top: 50%;
  left: 58%;
  transform: translate(-50%, -50%);
  width: 120%;
  li {
    list-style: none;
    margin: 40px auto;
    right: 0%;
  }
  a {
    font-size: 20px;
    font-weight: bold;
    color: #2E467E;
    text-decoration: none;
    margin: 100px auto;
  }
  }
  }
@media screen and (min-width:769px) and (max-width:1024px){
  #btn-menu{
    display:none;
  }
  #sp-menu{
    display:none;
}
}
@media screen and (min-width:1025px){
  #btn-menu{
    display:none;
  }
  #sp-menu{
    display:none;
  }
}
